<%- include ("header.ejs") -%>
    <div class="aboutcontainer">
        <h1>About page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum consequuntur eligendi temporibus est animi dicta esse, ex dignissimos qui quis illo. Modi mollitia nobis officia distinctio commodi fuga earum error?</p>
    </div>
<%- include ("footer.ejs") -%>